<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Neonode</title>
    <meta content="<%= csrfToken %>" name="csrf-token" />
    <link rel="icon" type="image/gif" href="/img/favicon.gif" />

    <!-- webpack -d -->
    <script src="/dist/bundle.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Documenta</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <% if (isAuthenticated) { %>
                    <form class="navbar-form navbar-right" method="post" action="<%= routeMappings.logout.url() %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                <% } else { %>
                    <form class="navbar-form navbar-right" method="post" action="<%= routeMappings.login.url() %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                <% } %>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>


    <div class="yield container-fluid">
        <% Object.keys(flash).forEach(function(key) { %>
            <nav class="row alert alert-<%= key %>" role="alert"><%= flash[key] %></nav>
        <% })%>
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

            </div>
            <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
                <%= yield %>
            </div>
        </div>
    </div>
    <footer>
        <p><a href="http://github.com/sgarza/generator-neonode" target="_blank"><span>Neonode</span></a></p>
    </footer>
</body>

</html>
