<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dokumenta</title>
    <meta content="<%= csrfToken %>" name="csrf-token" />
    <link rel="icon" type="image/gif" href="/img/favicon.gif" />

    <!-- webpack -d -->
    <script src="/dist/bundle.js"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
        <header class="demo-header mdl-layout__header is-casting-shadow">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Dokumenta</span>
                <div class="mdl-layout-spacer"></div>

                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="demo-menu-lower-right">
                    <% if (isAuthenticated) { %>
                    <li class="mdl-menu__item">
                        <form class="navbar-form navbar-right" method="post" action="<%= routeMappings.logout.url() %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            Logout
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    </li>
                    <% } %>
                </ul>
            </div>
        </header>

        <div>

    <div class="yield container-fluid">
        <% Object.keys(flash).forEach(function(key) { %>
            <nav class="row alert alert-<%= key %>" role="alert"><%= flash[key] %></nav>
        <% })%>
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <a class="btn btn-success">New Document</a>

                <ul>
                <% currentUser.documents.forEach(function(document) { %>
                    <li><%= document.title %></li>
                <% }) %>
            </ul>

            </div>
            <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
                <div class="document">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p><a href="http://github.com/sgarza/generator-neonode" target="_blank"><span>Neonode</span></a></p>
    </footer>


        </div>
    </div>
</body>

</html>
